<!DOCTYPE html>
<html>
<head>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
<h1 class="text-center"> Github User Data </h1>
	<div class="col-lg-12">
        <!-- CSS class -->
        <style>
          .form-signin {
            max-width: 550px;
            padding: 15px;
            margin: 0 auto;
          }
        </style>


        <!-- the FORM styled by CSS class -->
        <div class="container text-center">
            <!-- specify the type of HTTP method, this form will perform after submission -->
            <!-- After submission, the form will perform an HTTP post request which send the input (the user inputs)
            as parameters to the following url (in action argument) -->
            <!-- the view function '/githubdata/profile/' handle the POST request -->
            <form class="form-signin" id="login_form" method="post" action="/githubdata/profile">
                <!-- protect against any cross site forgery attacks -->
{#              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>#}

              <br>
                <!-- the 'name' parameter will have the value 'user' sent as a POST parameter when user submits the form -->
              <input type="text" name="user" class="form-control" placeholder="Github User Name, e.g: DrkSephy" value="" required autofocus>
              <br>
                <!-- the button will perform actual submission -->
                <!-- provide attributes specifying the bootstrap styling class, and the type of action to perform
                when this button is clicked (the 'submit' action) -->
              <button class="btn btn-lg btn-primary btn-block" type="submit">Get Data</button>
            </form>
        </div>


        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                <tr>
                  <th class="header"> Username <i class="icon-sort"></i></th>
                  <th class="header"> Blog <i class="icon-sort"></i></th>
                  <th class="header"> Public Repos <i class="icon-sort"></i></th>
                  <th class="header"> Public Gists <i class="icon-sort"></i></th>
                  <th class="header"> Email <i class="icon-sort"></i></th>
                  <th class="header"> Followers <i class="icon-sort"></i></th>
                  <th class="header"> Following <i class="icon-sort"></i></th>
                </tr>
            </thead>
            <tbody>

            {% for key in data %}
                <tr>
                    <td>{{ key.name }}</td>
                    <td>{{ key.blog }}</td>
                    <td>{{ key.public_repos }}</td>
                    <td>{{ key.public_gists }}</td>
                    <td>{{ key.email }}</td>
                    <td>{{ key.followers }}</td>
                    <td>{{ key.following }}</td>
                </tr>
            {% endfor %}

            </tbody>
            </table>
        </div>
    </div>
</body>
</html>